/* Shared  styles */
body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


/* Header nav style */
.gamer {
    display: flex;
    text-align: center;
}

.gamer img {
    width: 86.041px;
    height: 30px;
    margin-right: 20px;
}

.amar {
    color: black;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gamer-span {
    color: rgb(247, 152, 167);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 240px;
    height: 130px;
    align-items: center;
    background: #FFF;
}

ul {
    display: flex;
    margin-top: 8px;
}

ul div {
    display: flex;
}

ul li {
    list-style: none;
    margin-left: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.list-icon {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}

.list-icon img {
    padding: 0px;
    margin-right: 0px;
}

/* banner section style */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    padding: 0px 240px;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 42%;
}

.banner-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-goat {
    font-size: 4.3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(249, 72, 178, 1), rgba(135, 88, 241, 1);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.banner-description {
    display: flex;
    align-items: center;
    justify-content: start;
}

.banner-img-text {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.banner-img-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-img-text img {
    margin-right: 5px;
}

.banner-tex {
    width: 50%;
}

.banner-image img {
    width: 100%;
}

.btn1 {
    margin-right: 10px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    color: rgba(255, 255, 255, 1);
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    color: rgba(255, 255, 255, 1);
    border: none;
    background: #4EC5F7;
}

.btn-container {
    margin-top: 30px;
}


/* online game section */
.online-container {
    margin-top: 100px;
    padding: 0px 240px;
}

.online-games {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: rgba(11, 2, 35, 1);
    color: rgba(249, 72, 178, 1), rgba(135, 88, 241, 1);
}

.onlien-des {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.online-image img {
    /* width: 242px; */
    height: 300px;
}

.online-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 24px;
}

/* play button and text add in third number image */
.play-overlay {
    position: relative;
    display: inline-block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease;
}

.play-overlay img:hover {
    border: 3px solid red;
    border-radius: 5px;
    color: #3C354F;
    mask-image: #3C354F;
}

.play-icon {
    color: #ffffff;
    font-size: 30px;
}

.watch-now-text {
    position: absolute;
    top: calc(50% + 45px);
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    transition: color 0.3s ease;
}

.play-overlay:hover .watch-now-text {
    color: red;
}

.dark-mode-img {
    transition: filter 0.3s ease;
}

.dark-mode-img:hover {
    filter: brightness(60%);
}

/* play instant section style */
.play-instant-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 430px;
    padding-right: 240px;
    gap: 120px;
}

.instant-title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
}

.span-instant {
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-des {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}


.instant-image img {
    width: 500px;
    height: 600px;
}

#small-img {
    height: 150px;
    width: 130px;
    position: relative;
    margin-top: -100px;
    transform: translateX(-65px);
}

#small-img2 {
    height: 150px;
    width: 130px;
    position: relative;
    margin-top: -100px;
    transform: translateX(-65px);
    justify-content: end;
    text-align: end;
}

.play-instant-text {
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* game section */
/* .game-container> {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 20px 150px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
} */
.container-game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 150px;
    margin-top: 20px;
}


.single-game {
    width: 188px;
    margin-right: 5px;
    background-color: #FFF;
    border-radius: 50px;
    margin-bottom: 40px;
}

.single-game img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.single-game {
    display: flex;
    text-align: center;
}

.single-game img {
    max-width: 100%;
}

.single-game p {
    margin-top: 10px;
}

.single-game:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
    padding: 10px;
}

.game-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* footer stylish*/
.footer-container {
    background: #0B0223;
    color: #FFF;
    padding: 125px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.footer img {
    margin-right: 10px;
}

.gamer-title {
    color: #FFF;
}

.unorder-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unorder-list2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

li a {
    text-decoration: none;
    text-align: center;
    color: #FFF;
}

.social a img {
    margin-right: 15px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.gamer-title2 {
    color: #FFF;
}


/* resposive media query */
@media screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        margin-top: 20px;
        padding: 0px;
    }


    .instant-image img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .play-instant-text {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }


    .container-game {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 8px;
        padding-left: 10px;
        width: 100%;
        justify-content: space-between;
    }

    .single-game:hover {
        border: 1px solid #FF42A5;
        border-radius: 50px;
        color: #FF42A5;
        padding: 5px;
        width: 85%;
    }


    .single-game {
        margin: 0px;
        padding: 0px;
        margin-bottom: 20px;
        width: 100%;
    }

    .single-game img {
        margin: 0px;
        max-width: 20%;
        height: auto;
    }

    .game-name {
        font-size: xx-small;
        padding: 0px 4px;
    }

    .play-instant-container {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        gap: 0px;
    }

    .instant-image img {
        /* width: 200px;
        height: 200px; */
        width: auto;
    }

    .small-img {
        display: none;
    }

    .online-image {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }

    .online-image img {
        margin: auto;
    }

    .play-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
    }

    .online-container {
        margin-top: 100px;
        padding: 0px 0px;
        margin: auto;
    }

    .banner-container {
        flex-direction: column;
        margin-top: 60px;
        gap: 0px;
        padding: 10px;
        background-image: none;
    }

    .banner-tex {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
    }

    .btn1 {
        margin: 10px;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        margin-top: 20px;
    }

    .list-icon {
        margin-top: 15px;
    }

    /* responsive footer */
    .footer-container {
        padding: 20px 0px;
        padding-right: 19px;
    }

    .unorder-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .unorder-list li a {
        font-size: xx-small;
        font-weight: 100;
    }

    .unorder-list2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    nav {
        flex-direction: column;
        margin-top: 20px;
    }

    .play-instant-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-container {
        flex-direction: column;
        margin-top: 60px;
        gap: 0px;
        padding: 10px;
        background-image: none;
        text-align: center;
    }

    .banner-img-text {
        text-align: center;
        justify-content: center;
    }

    .banner-tex {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
        padding: 0px;
    }

    .online-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .online-container {
        padding: 0px;
    }

    .game-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}